/* -*- Mode: CSS -*- */
/**
 * Style sheet for index.html
 */
@import url("./base.css");

body
{
	background-color: white;
}

/** Descendant selectors, class selectors and ID selectors */

#container
{
	margin: 0;
	padding: 0;
	min-width: 800px;
	min-height: 400px;
	/*background-color: #0F0;*/
	clear: both;
	text-align: left;
	padding: 0em 1em;
}
#toppane
{
	text-align: center;
}
#toppane *:hover,
#footer_logo *:hover
{
	background-color: transparent;
	text-decoration: none;
}

img#logol
{
	width: 468px;
	height: 60px;
}

#container dl
{
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 1em;
	margin-inline-end: 0px;
}
#container dl > dt,
#container dl > dd
{
	padding-bottom: 1.2em;
}
#container dl > dt
{
	float: left;
	clear: left;
}
#container dl > dd
{
	margin-left: 7em;
}
