/* -*- Mode: CSS -*- */
/**
 * Style sheet for index.html
 *
 * The CSS2 specification is available at
 * http://www.w3.org/TR/1998/REC-CSS2-19980512
 */
@import url("./base.css");

/** body
 */
body
{
	text-align: center;
	background-color: white;
}
ul
{
	list-style-type: none;
}
/** Descendant selectors, class selectors and ID selectors */

/** container
 */
section#container
{
	margin: 0;
	padding: 0;
	min-width: 800px;
	min-height: 400px;
	/*background-color: #0F0;*/
}
section#toppane
{
	text-align: left;
	/*height: 36px;*/
	font: 90% times, "times new roman", sans-serif;
}
img#logol
{
	width: 468px;
	height: 60px;
}

section#menupane
{
	clear: both;
	text-align: left;
	padding: 0em 1em;
}
section#menupane dl
{
	margin-left: 1em;
}
