/* -*- Mode: CSS -*- */
/**
 * Link styles
 */

a:link, a:visited
{
	text-decoration: none;
	font-weight: bold;
	color: deeppink;
}
a:link:hover, a:visited:hover
{
	text-decoration: none;
	font-weight: bold;
	background-color: pink;
	color: deeppink;
}
