/* -*- Mode: CSS -*- */
/**
 * Link styles
 */

a{
    text-decoration: none;
    font-weight: bold;
    color: deeppink;
}
a:visited {
    filter: brightness(50%);
}
a:hover {
    text-decoration: none;
    background-color: pink;
}
